<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Qt5-BDUSS-And-SToken-Getter</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.httydbar.tiebatokengetter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.1</string>
	<key>CFBundleName</key>
	<string>贴吧BDUSS和SToken获取器</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0.1</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>贴吧BDUSS和SToken获取器</string>
	<key>LSExecutableArchitectures</key>
	<array>
		<string>x86_64</string>
	</array>
</dict>
</plist>
